*{
    font-family: "Inter", sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
}
.modal{
    position: fixed;
    inset:0px;
    background-color: rgba(82, 83, 83, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
}
.modal-active{
    visibility: visible;
    opacity: 1;
    transition: all 200ms ease-in-out;
    z-index: 9999;
}
.modal-content{
    background-color: #fff;
    padding: 2.5rem;
    max-width: 100%;
    min-width: 500px;
    min-height: 500px;
    border-radius: 0.75rem;
}
.offCanvas{
    position: fixed;
    inset:0px;
    background-color: rgba(82, 83, 83, 0.6);
    display:flex;
    justify-content: end;
    opacity: 0;
    visibility: hidden;
    transition: 300ms all;
}
.offCanvas-active{
    visibility: visible;
    opacity:1;
    transition: 300ms all;
    z-index: 9999;
}
.offCanvas-content{
    position: relative;
    background-color: #fff;
    padding: 1.25rem; 
    border-start-start-radius: 0.375rem;
    border-end-start-radius: 0.375rem;
    min-width: 40rem;
    width:auto;
}
.alert-danger{
    color:#581313;
    background-color: #f8d6d6;
    border: 0.100rem solid;
    border-color: #f1acac;
}
.alert-link{
    color: #581313;
    font-weight: 700;
}
.alert-link:hover{
    color: #0aad0a;
}
.btn-sm{
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    font-size: 0.765625rem;
    
}
.form-input{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-clip: padding-box;
    background-color: #fff;
    border: 1px solid #dfe2e1;
    border-radius: .5rem;
    color: #21313c;
    display: block;
    font-size: .875rem;
    font-weight: 500;
    line-height: 1.6;
    padding: .55rem 1rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    width: 100%;
}
.btn{
    --fc-btn-padding-x: 1rem;
    --fc-btn-padding-y: 0.55rem;
    --fc-btn-font-family: ;
    --fc-btn-font-size: 0.875rem;
    --fc-btn-font-weight: 600;
    --fc-btn-line-height: 1.6;
    --fc-btn-color: var(--fc-body-color);
    --fc-btn-bg: transparent;
    --fc-btn-border-width: 1px;
    --fc-btn-border-color: transparent;
    --fc-btn-border-radius: 0.5rem;
    --fc-btn-hover-border-color: transparent;
    --fc-btn-box-shadow: inset 0 1px 0 hsla(0, 0%, 100%, .15), 0 1px 1px rgba(0, 0, 0, .075);
    --fc-btn-disabled-opacity: 0.65;
    --fc-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--fc-btn-focus-shadow-rgb), .5);
    background-color: var(--fc-btn-bg);
    border: var(--fc-btn-border-width) solid var(--fc-btn-border-color);
    border-radius: var(--fc-btn-border-radius);
    color: var(--fc-btn-color);
    cursor: pointer;
    display: inline-block;
    font-family: var(--fc-btn-font-family);
    font-size: var(--fc-btn-font-size);
    font-weight: var(--fc-btn-font-weight);
    line-height: var(--fc-btn-line-height);
    padding: var(--fc-btn-padding-y) var(--fc-btn-padding-x);
    text-align: center;
    text-decoration: none;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    vertical-align: middle;
}
.btn-primary{
    --fc-btn-color: #fff;
    --fc-btn-bg: #0aad0a;
    --fc-btn-border-color: #0aad0a;
    --fc-btn-hover-color: #fff;
    --fc-btn-hover-bg: #099309;
    --fc-btn-hover-border-color: #088a08;
    --fc-btn-focus-shadow-rgb: 47, 185, 47;
    --fc-btn-active-color: #fff;
    --fc-btn-active-bg: #088a08;
    --fc-btn-active-border-color: #088208;
    --fc-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    --fc-btn-disabled-color: #fff;
    --fc-btn-disabled-bg: #0aad0a;
    --fc-btn-disabled-border-color: #0aad0a;
}
.btn-dark{
    --fc-btn-color: #fff;
    --fc-btn-bg: #001e2b;
    --fc-btn-border-color: #001e2b;
    --fc-btn-hover-color: #fff;
    --fc-btn-hover-bg: #26404b;
    --fc-btn-hover-border-color: #1a3540;
    --fc-btn-focus-shadow-rgb: 38, 64, 75;
    --fc-btn-active-color: #fff;
    --fc-btn-active-bg: #334b55;
    --fc-btn-active-border-color: #1a3540;
    --fc-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    --fc-btn-disabled-color: #fff;
    --fc-btn-disabled-bg: #001e2b;
    --fc-btn-disabled-border-color: #001e2b;
}
.btn-close{
    --fc-btn-close-color: #000;
    --fc-btn-close-bg: url(svgico/download.svg);
    --fc-btn-close-opacity: 0.5;
    --fc-btn-close-hover-opacity: 0.75;
    --fc-btn-close-focus-shadow: 0 0 0 0.25rem rgba(10, 173, 10, .25);
    --fc-btn-close-focus-opacity: 1;
    --fc-btn-close-disabled-opacity: 0.25;
    --fc-btn-close-white-filter: invert(1) grayscale(100%) brightness(200%);
    background: transparent var(--fc-btn-close-bg) center / 1em auto no-repeat;
    border: 0;
    border-radius: .5rem;
    box-sizing: content-box;
    height: 1em;
    opacity: var(--fc-btn-close-opacity);
    padding: .25em;
    width: 1em;
}
.icon {
    transition: fill 0.2s;
  }
  .icon:hover {
    fill: #0aad0a;
  }
  .dropdowns-content {
    display: none;
    background-color: #f9f9f9;
    min-width: 255px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: .5rem;
    margin-top: 10px;
  }
  .subdropdowns-content {
    display: none;
    background-color: #f9f9f9;
    min-width: 255px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: .5rem;
    margin-top: 10px;
  }
  .subdropdowns-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    position: relative;
  }
  .dropdowns-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    position: relative;
  }


  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    align-items: center;
    height: 500px;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .swiper-pagination-bullet-active{
    background: #21313c !important;
    opacity: 1;
  }
  .slideItem-1{
    background: url(sliderimg/slider-image-1.jpg)0% 0% / cover no-repeat;;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 0.5rem;
    width: 516px;
  }
  .slideItem-2{
    background: url(sliderimg/slider-image-2.jpg)0% 0% / cover no-repeat;;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 0.5rem;
    width: 516px;
  }
  .slideItem-3{
    background: url(sliderimg/slider-image-3.jpg)0% 0% / cover no-repeat;;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 0.5rem;
    width: 516px;
  }
  .bannerImg1{
    background: url(bannerimg/ad-banner-1.jpg)0% 0% / cover no-repeat;;
    background-position: center;
    border-radius: 0.5rem;
    height: 240px;
    width: 100%;
  }

  .bannerImg2{
    background: url(bannerimg/ad-banner-2.jpg)0% 0% / cover no-repeat;;
    background-position: center;
    border-radius: 0.5rem;
    height: 240px;
    width: 100%;
  }
  .btn-success{
    --fc-btn-color: #fff;
    --fc-btn-bg: #0aad0a;
    --fc-btn-border-color: #0aad0a;
    --fc-btn-hover-color: #fff;
    --fc-btn-hover-bg: #099309;
    --fc-btn-hover-border-color: #088a08;
    --fc-btn-focus-shadow-rgb: 47, 185, 47;
    --fc-btn-active-color: #fff;
    --fc-btn-active-bg: #088a08;
    --fc-btn-active-border-color: #088208;
    --fc-btn-active-shadow: inset 0 3px 5px rgba(0,0,0,.125);
    --fc-btn-disabled-color: #fff;
    --fc-btn-disabled-bg: #0aad0a;
    --fc-btn-disabled-border-color: #0aad0a;
  }
  .btn{
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.6;
    border-width: 1px;
    border-color: transparent;
    border-radius: 0.5rem;
    box-shadow: inset 0 1px 0 hsla(0,0%,100%,.15), 0 1px 1px rgba(0,0,0,.075);
    cursor: pointer;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    vertical-align: middle;
}
  .badget{
    --fc-badge-padding-x: 0.65em;
    --fc-badge-padding-y: 0.35em;
    --fc-badge-font-size: 0.75em;
    --fc-badge-font-weight: 700;
    --fc-badge-color: #fff;
    --fc-badge-border-radius: 0.25rem;
    border-radius: var(--fc-badge-border-radius);
    color: var(--fc-badge-color);
    display: inline-block;
    font-size: var(--fc-badge-font-size);
    font-weight: var(--fc-badge-font-weight);
    line-height: 1;
    padding: var(--fc-badge-padding-y) var(--fc-badge-padding-x);
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
}
.card-image{
    transition: box-shadow .25s ease, transform .25s ease;
}
.card-image:hover{
    box-shadow: 0 2px 4px -1px rgba(145,158,171,.2), 0 4px 5px 0 rgba(145,158,171,.14), 0 1px 10px 0 rgba(145,158,171,.12)!important;
    transform: translate3d(0, -3px, 0);
    transition: box-shadow .25s ease, transform .25s ease;
}
.rounded-circle{
    border-radius: 50% !important;
}
.card-row{
    flex-shrink: 0;
    margin-top: var(--fc-gutter-y);
    max-width: 100%;
    padding-left: calc(var(--fc-gutter-x)* .5);
    padding-right: calc(var(--fc-gutter-x)* .5);
    width: 100%;
    --fc-gutter-x: 2rem;
    --fc-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(var(--fc-gutter-x)* -.5);
    margin-right: calc(var(--fc-gutter-x)* -.5);
    margin-top: calc(var(--fc-gutter-y)* -1);
}
.nav{
    --fc-nav-link-padding-x: 1rem;
    --fc-nav-link-padding-y: 0.5rem;
    --fc-nav-link-font-size: 0.875rem;
    --fc-nav-link-font-weight: 500;
    --fc-nav-link-color: var(--fc-gray-800);
    --fc-nav-link-hover-color: var(--fc-link-hover-color);
    --fc-nav-link-disabled-color: #c1c7c6;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
}
.nav-pills{
    --fc-nav-pills-border-radius: 0.5rem;
    --fc-nav-pills-link-active-color: #fff;
    --fc-nav-pills-link-active-bg: #0aad0a;
}
.nav-link{
    background: none;
    border: 0;
    color: var(--fc-nav-link-color);
    display: block;
    font-size: var(--fc-nav-link-font-size);
    font-weight: var(--fc-nav-link-font-weight);
    padding: var(--fc-nav-link-padding-y) var(--fc-nav-link-padding-x);
    text-decoration: none;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
    border-radius: var(--fc-nav-pills-border-radius);
}
.nav-link:hover{
    color: #088208;
}
.active{
    background-color: var(--fc-nav-pills-link-active-bg);
    color: var(--fc-nav-pills-link-active-color);
}
.card-product{
    cursor: pointer;
    transition: z-index .2s cubic-bezier(.28,.12,.22,1);
    z-index: 1;
}
.card{
    --fc-card-spacer-y: 1rem;
    --fc-card-spacer-x: 1rem;
    --fc-card-title-spacer-y: 0.5rem;
    --fc-card-title-color: ;
    --fc-card-subtitle-color: ;
    --fc-card-border-width: 1px;
    --fc-card-border-color: var(--fc-border-color-translucent);
    --fc-card-border-radius: 0.5rem;
    --fc-card-box-shadow: ;
    --fc-card-inner-border-radius: calc(0.5rem - 1px);
    --fc-card-cap-padding-y: 0.5rem;
    --fc-card-cap-padding-x: 1rem;
    --fc-card-cap-bg: var(--fc-card-bg);
    --fc-card-cap-color: ;
    --fc-card-height: ;
    --fc-card-color: ;
    --fc-card-bg: #fff;
    --fc-card-img-overlay-padding: 1rem;
    --fc-card-group-margin: 1rem;
    word-wrap: break-word;
    background-clip: border-box;
    background-color: var(--fc-card-bg);
    border: var(--fc-card-border-width) solid var(--fc-card-border-color);
    border-radius: var(--fc-card-border-radius);
    color: var(--fc-body-color);
    display: flex;
    flex-direction: column;
    height: var(--fc-card-height);
    min-width: 0;
    position: relative;
    
}
.card-body{
    color: var(--fc-card-color);
    flex: 1 1 auto;
    padding: var(--fc-card-spacer-y) var(--fc-card-spacer-x);
}
.badge{
    background-color: #db3030;
    border-radius: 0.25rem;
    color: #fff;
    font-weight: 700;
    font-size: 0.75em;
    text-align: center;
    padding: 0.35em 0.65em;
}
.card:hover .card-btn {
  display: block;
}
.add-cart{
  display: none;
 
}
.card:hover .add-cart{
  display: flex;
  flex-direction: column;
}
@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.card-btn {
  animation: slideUp 0.3s forwards;
  animation-delay: 0.3s;
  opacity: 0;
}

.card:hover .card-btn {
  animation: slideUp 0.3s forwards;
}
.card-btn:hover{
  background-color: #088208;
}

@keyframes slideUp {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.btn-action{
  align-items: center;
  background-color: #fff;
  border-radius: .5rem;
  box-shadow: 0 2px 4px -1px rgba(145, 158, 171, .2), 0 4px 5px 0 rgba(145, 158, 171, .14), 0 1px 10px 0 rgba(145, 158, 171, .12);
  color: #21313c;
  display: inline-flex;
  font-size: 14px;
  height: 34px;
  justify-content: center;
  line-height: 34px;
  text-align: center;
  transition: all .3s ease 0s;
  vertical-align: middle;
  width: 34px;
  
}
.btn-action {
position: relative;
opacity: 0;
transform: translateX(20px);
}

.card:hover .btn-action {
animation: slideIn 0.3s forwards;
}